{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/base_profile.css' %}">
{% endblock %}

<div class="profile-container">
    <h3>{{ profile_title }}</h3>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone Number: {{ user.phone_number|default:"Not Set" }}</p>
    <p>Default Shipping Address: {{ user.default_shipping_address|default:"Not Set" }}</p>

    <div class="profile-actions">
        <a href="{% url 'edit_profile' %}" class="btn btn-info">Edit Profile</a>
        <a href="{% url 'order_list' %}" class="btn btn-info">View My Orders</a>
    </div>
</div>