{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/edit_profile.css' %}">
{% endblock %}

{% block content %}
<div class="edit-profile-container">
    <h2>Edit Profile</h2>
    <form method="post">
        {% csrf_token %}
        <h3>User Information</h3>
        {{ profile_form.as_p }}
        
        {% if seller_form %}
        <h3>Seller Information</h3>
        {{ seller_form.as_p }}
        {% endif %}
        
        <button type="submit">Save Changes</button>
    </form>
    <a href="{% url 'profile' %}">Cancel</a>
</div>
{% endblock %} 