{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        {% if username_error %}
            <p style="color: red;">{{ username_error }}</p>
        {% endif %}
        
        <input type="password" name="password" placeholder="Password" required>
        {% if password_error %}
            <p style="color: red;">{{ password_error }}</p>
        {% endif %}
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %} 