{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/add_product.css' %}">
{% endblock %}

{% block content %}
<div class="add-product-container">
    <h2>Add New Product</h2>
    <p>Select the type of product you want to add:</p>
    <div class="product-options">
        <a href="{% url 'add_product_dynamic' 'electronics' %}" class="btn btn-primary">Add Electronics</a>
        <a href="{% url 'add_product_dynamic' 'clothing' %}" class="btn btn-primary">Add Clothing</a>
        <a href="{% url 'add_product_dynamic' 'shoes' %}" class="btn btn-primary">Add Shoes</a>
        <a href="{% url 'add_product_dynamic' 'books' %}" class="btn btn-primary">Add Books</a>
        <a href="{% url 'add_product_dynamic' 'supermarket' %}" class="btn btn-primary">Add Supermarket</a>
    </div>
</div>
{% endblock %}