{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/add_product_dynamic.css' %}">
{% endblock %}

{% block content %}
<div class="add-product-dynamic-container">
    <h2>Add Product</h2>
    <div class="form-container">
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
</div>
{% endblock %} 